{% extends 'base.html.twig' %}

{% block body %}
	<div class="d-flex" id="wrapper">
		{% include 'parts/navigation.html.twig' %}
		<div id="page-content-wrapper">
			{% include 'parts/top-navigation.html.twig' %}
			<div class="container-fluid">
				<h1 class="mt-4">Städte, Gemeinden und Kommunen -<br> öffentliche Auftraggeber</h1>
				<p>Seit 2008 arbeiten wir regelmäßig für Städte, Gemeinden und Kommunen und andere öffentliche Auftraggeber wie z.B. Landratsämter, sowie private Schulen oder Bildungseinrichtungen.</p>
				<span class="image main"><img src="public/images/fullScreen/staedte01.jpg" alt="Städte, Gemeinden und Kommunen - öffentliche Auftraggeber" title="Städte, Gemeinden und Kommunen - öffentliche Auftraggeber" /></span>
				<p>Unser Team besteht aus Facharbeitern, unterstützenden Arbeitskräften und zwei integrativen Stellen. Wir können flexibel in zwei vollwertigen Teams agieren. Dabei ist auf jeder Baustelle mindestens ein European Tree Worker anwesend.</p>
				<h3>Dank unserer umfangreichen Qualifikationen können wir flexibel auf den aktuellen Bedarf ihrer Ausschreibung reagieren: </h3>
				<ul>
					<li>Kletterer SKT A/B</li>
					<li>European Tree Worker ETW</li>
					<li>European Tree Technican ETT</li>
					<li>Fachagrarwirt Baumpflege und Baumsanierung </li>
					<li>Forstingenieur (FH).</li>
				</ul>
				<p>Wir arbeiten je nach Maßnahme in Seilklettertechnik SKT, Hebebühne und passendem Gerät für die Entsorgung.</p>
				<p>Neben Baumpflegemaßnahmen können wir selbstständig die dazugehörige Baustellenabsicherung gem. RSA durchführen.</p>
				<p>Wir arbeiten nach aktuell gültigen Richtlinien wie der ZTV Baumpflege oder der RAS LP-4. Sonderleistungen wie die Bekämpfung von Schädlingen wie den Eichenprozessionsspinner oder die Entfernung von Goldafternestern gehört zu unserem Portfolio.</p>
				<p>Wir engagieren uns aktiv als Prüfer bei der Ausbildung zum FLL zertifizierten Baumkontrolleur. Deshalb besuchen wir regelmäßig Aus und Weiterbildung, um auf dem neuesten Wissenstand zu bleiben. </p>
				<ul>
					<li>Wir erhalten und pflanzen Bäume</li>
					<li>Wir entfernen Bäume, von der Baumfällung bis zur Rodung des Wurzelstocks</li>
					<li>Wir kontrollieren Bäume</li>
					<li>Wir schützen Bäume</li>
				</ul>
				<a href="referenzen"><b>Referenzen</b></a>
			</div>
		</div>
	</div>
{% endblock %}
