{% extends 'base.html.twig' %}

{% block body %}
	<div class="d-flex" id="wrapper">
		{% include 'parts/navigation.html.twig' %}
		<div id="page-content-wrapper">
			{% include 'parts/top-navigation.html.twig' %}
			<div class="container-fluid px-lg-5">
				<h1 class="mt-4">Firmengelände</h1>
				<span class="image main"><img src="{{ asset('build/images/fullScreen/firmengelaende.jpg') }}" alt="Bild von einem Firmengelände" title="Bild von einem Firmengelände" /></span>
				<p>Ein Arbeitsplatz soll nicht nur sicher sein, sondern Ihren Mitarbeitenden ein Platz für das kreative und herausfordernde Alltagsgeschäft bieten. Bäume leisten dazu ihren Beitrag. Im Sommer halten wir uns gerne unter Bäumen auf. Die Farbe Grün ist gut für unser seelisches Gleichgewicht. Grundstücke mit einem gepflegten Baumbestand haben nicht nur optisch, sondern auch monetär einen höheren Wert.</p>
				<p>Wir helfen Ihnen, den Baumbestand auf Ihrem Firmengelände zu erhalten und eine langfristige Perspektive zu geben. Bäume verändern sich jedes Jahr, unsere Bedürfnisse wie z.B. Gebäudeschutz, sichere Verkehrswege, Feuerzufahrten auch. Rechtzeitig durchgeführte Baumpflegemaßnahmen führen langfristig zu einem besseren Ergebnis. Deswegen haben wir ein dreistufiges Pflegekonzept ausgearbeitet. Bei jedem Paket wird pro Baum abgerechnet, die Pakete bauen dabei aufeinander auf.</p>
				<h2>Grundstufe - Erstellung eines Baumkatasters</h2>
				<p>Ziel ist es, mit einem digitalisierten Luftbild und einer Datenbank den Überblick zu bekommen. Daraus können wir transparent den aktuellen Pflegezustand, ggf. nötige Maßnahmen und deren Priorisierung ableiten. Dieses Paket beschränkt sich rein auf die Kontrolle.</p>
				<h2>Grundstufe und Sicherheit</h2>
				<p>Neben der fachlich qualifizierten Baumkontrolle werden die für die Sicherheit relevanten Baumpflegearbeiten im Anschluss von uns ausgeführt.</p>
				<h2>Grundstufe, Sicherheit und Bäume auf dem Status quo halten</h2>
				<p>Sind Ihnen die Bäume insgesamt zu groß oder dürfen sie nicht noch größer werden? Hier können wir Ihnen einen regelmäßigen Rückschnitt anbieten. Wir arbeiten dabei gemäß geltender Baumschutzsatzungen und ausschließlich nach dem aktuellen Stand der Technik.</p>
				<p>Ein Beratungsgespräch mit einer Analyse Ihrer Situation ist fester Bestandteil von jedem Paket. Wir wollen Ihren Baumbestand erhalten und für Sie langfristig Kosten sparen.</p>
			</div>
		</div>
	</div>
	{% include 'parts/footer.html.twig' %}
{% endblock %}
