{% extends 'base.html.twig' %}

{% block title %}Baumring | {{ getContent.headline }}
{% endblock %}

{% block body %}
	<h1>{{ getContent.headline }}</h1>
	<img src="{{ asset('build/images/fullScreen/firmengelaende.jpg') }}" class="img-fluid rounded mb-5" alt="Bild von einem Firmengelände" title="Bild von einem Firmengelände" />
	{{ getContent.content|raw }}
{% endblock %}
