{% extends 'base.html.twig' %}

{% block body %}
	<h1>Haus, Baum und Garten – Bäume auf Privatgrundstücken</h1>
	<p>Egal wo Ihr Baum steht, wir kommen auf jeden Fall hin und können das gesamte Leistungsspektrum um das Thema Baum liefern. </p>
	<img src="{{ asset('build/images/fullScreen/privat01.jpg') }}" class="img-fluid rounded mb-5" alt="Haus, Baum und Garten – Bäume auf Privatgrundstücken" title="Haus, Baum und Garten – Bäume auf Privatgrundstücken" />
	<p>Warum möchten Sie Ihren Baum zurechtschneiden, auslichten, abschneiden, stutzen, wegschneiden, umsägen, fällen oder kappen? Diese Frage steht für uns am Anfang unserer Maßnahme.</p>
	<p>Ist der Baum krank, haben Sie Bedenken wegen der Sicherheit oder ist Ihnen der Baum zu groß?</p>
	<p>Ein Baum hat viele Funktionen. Ästhetik, Luftfilter, Stabilisierung des Bodens, CO2 Speicher oder Wertsteigerung der Immobilie. Eine Funktion kann dabei Fluch und Segen zugleich sein. Ein Baum kann Schatten spenden und damit gleichzeitig Licht nehmen. Gestaltungselement sein, ein angenehmes Mikroklima bilden, aber dabei Laub abwerfen.</p>
	<p>Mit den Jahresringen steigt bei Bäumen auch das Bedürfnis nach fachgerechter Pflege. Nur so bleiben seine Vitalität und Stabilität langfristig erhalten.</p>
	<h2>Wir können Sie dabei unterstützen, eine Entscheidung zu treffen. </h2>
	<p>Unser Ziel: Vitale, schöne und verkehrssichere Bäume, an denen Sie lange Ihre Freude haben.</p>
	<h2>Fakten:</h2>
	<ul class="list-unstyled mb-5">
		<li class="mb-3"><i class="fas fa-check text-primary me-3"></i>„Ein Baumschnitt ist auch bei einer Baumschutzverordnung ganzjährig erlaubt.“</li>
		<li class="mb-3"><i class="fas fa-check text-primary me-3"></i>„Ein Baum kann auch ohne Baumschutzsatzung geschützt sein.“</li>
		<li class="mb-3"><i class="fas fa-check text-primary me-3"></i>„Artenschutz gilt das ganze Jahr.“ </li>
		<li class="mb-3"><i class="fas fa-check text-primary me-3"></i>„Große Schnitte erhöhen bereits in kurzer Zeit den Pflegeaufwand und damit die Kosten“</li>
	</ul>
	<p>Wir sind eine Fachfirma und grenzen uns ganz klar von unerlaubten Maßnahmen ab.</p>
{% endblock %}
