{% extends 'base.html.twig' %}

{% block title %}Baumring | {{ getContent.headline }}
{% endblock %}

{% block body %}
	<h1>{{ getContent.headline }}</h1>	
	<img src="{{ asset('build/images/fullScreen/hausverwaltung01.jpg') }}" class="img-fluid rounded mb-5" alt="Hausverwaltung" title="Hausverwaltung" />
	{{ getContent.content|raw }}
{% endblock %}
