{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ getContent.headline }}</h1>
	<img src="{{ asset('build/images/fullScreen/startseite.jpg') }}" class="img-fluid rounded mb-5" alt="Baumpflege" title="Baumpflege">
	{{ getContent.content|raw }}
{% endblock %}
