{% extends 'base.html.twig' %}

{% block body %}
	{% include 'parts/navigation.html.twig' %}



	<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container">
					{#% include 'parts/top-contact.html.twig' %#}
					<h1 class="mt-4 text-primary">Jeder Baum ist einzigartig, wir behandeln Ihn auch so…</h1>
					<span class="image main">
						<img src="{{ asset('build/images/fullScreen/startseite.jpg') }}" alt="Baumpflege" title="Baumpflege">
					</span>
					<p>Wir sind Ihr kompetenter Partner für alle Arbeiten um das Thema Baum: Baumpflege, Kontrollen, Pflanzungen und Fällungen. Egal ob im
						<a href="{{ path('hausbaumgarten') }}">
							<b>privaten Garten</b>
						</a>, in
						<a href="{{ path('hausverwaltungen') }}">
							<b>Wohnanlagen</b>
						</a>
						oder für
						<a href="{{ path('gemeinden') }}">
							<b>öffentliche Auftraggeber</b>
						</a>
						arbeiten. Wir verbinden die Bedürfnisse des Menschen mit den Ansprüchen der Bäume. Dazu beurteilen wir die Möglichkeit der Umsetzung und die Vereinbarkeit mit dem Artenschutz.</p>
					<p>Der Baumschnitt ist mit Artenschutz vereinbar. Bäume dürfen das ganze Jahr über geschnitten werden. Bäume wollen sogar lieber in der Wachstumsphase geschnitten werden. Dabei ist Artenschutz über das ganze Jahr hinweg ein relevantes Thema. Wir als Fachfirma passen den optimalen Schnittpunkt an die Maßnahme an und arbeiten nach dem aktuellen Stand der Technik.
					</p>
					<p>Regionalität ist uns wichtig. Wir arbeiten und wohnen in unserem Einzugsbereich. Unsere Teammitglieder wohnen oder kommen aus München, Fürstenfeldbruck, Starnberg, Landsberg, Augsburg oder dem Allgäu. Wir sind ein solide gewachsenes Team aus gut ausgebildeten Fachkräften und arbeiten stets am Puls der Zeit.</p>
  </div>
  {% include 'parts/footer.html.twig' %}
</main>
<!--Main layout-->

	
{% endblock %}
