{% extends 'base.html.twig' %}

{% block body %}
	<div class="d-flex" id="wrapper">
		{% include 'parts/navigation.html.twig' %}
		<div id="page-content-wrapper">
			{% include 'parts/top-navigation.html.twig' %}
			<div class="container-fluid">
				<h1 class="mt-4">Über Uns</h1>
				<h2>Wir sind als Team stark.</h2>
				<p>Unsere Arbeit ist allein überhaupt nicht möglich. Wenn die Arbeit Spaß macht, wird sie gut. Wir sind der Überzeugung, dass jeder Mensch ein Talent hat. Wenn jeder sein persönliches Talent einbringen darf, wird die Arbeit besser.</p>
				<p>Unser gesamtes Team verfügt neben einer Fachausbildung in der Baumpflege über unterschiedliche Vorkenntnisse aus Handwerk, Landschaftsarchitektur, Forstwirtschaft, Pädagogik, usw.</p>
				<p>Wir fördern uns gegenseitig und schauen über den Tellerrand hinaus. Jeder darf sich entwickeln. Wir arbeiten gemeinsam Konzepte aus, sind uns für keine Arbeit zu schade und arbeiten auf Augenhöhe.
				</p>
				<p>Wir sind solide gewachsen und freuen uns immer über neue Impulse.</p>
				<p>Wir sind der Auffassung, dass jeder etwas kann.</p>
				<p>Deswegen verfügen wir auch über integrative Plätze.</p>
				<h3>Qualität ist Ausbildung:</h3>
				<ul>
					<li>Forstingenieur</li>
					<li>Fachagrarwirt für Baumpflege und Baumsanierung (Meisterniveau)</li>
					<li>European Tree Technican (Meisterniveau)</li>
					<li>European Tree Worker (Gesellenniveau)</li>
					<li>Seilklettertechnik und Hebebühneneinsatz</li>
					<li>akkreditierter Prüfer für FLL zertifizierte Baumkontrolleure</li>
					<li>Lehrbeauftragter an der Hochschule Weihenstephan im Bereich
						<ol>
							<li>Baumkontrolle und Baumpflege</li>
							<li>Baumkontrolle und Planung</li>
						</ol>
					</li>
				</ul>
				<p>Gerne bieten wir zur Verstärkung unseres Teams auch Probearbeitstage oder Praktikumstellen an.</p>
				<p>Bei Interesse nehmen Sie gerne Kontakt zu uns auf.<br/>
					E-Mail:
					<a href="mailto:kontakt@baumring.de">
						<strong>kontakt@baumring.de</strong>
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
