{% extends 'base.html.twig' %}

{% block body %}
	<h1>Pflanzungen</h1>
	<p>Grün ist gut für unsere Seele. Farben machen uns glücklich. Eine planvolle Gartengestaltung kann nicht nur ästhetisch ansprechend, sondern auch noch an Ihre Bedürfnisse angepasst werden. Was ist Ihnen wichtig? Geht es Ihnen um heimische Pflanzen oder geht es Ihnen um ein bestimmtes Thema? Unsere Stärke ist es Bäume in Ihr Gartenkonzept zu integrieren. Sichtachsen zu finden um gezielt Bereiche in Szene zu setzen.</p>
	<div class="row mt-5">
		<div class="col-md-6 mb-4 d-flex align-items-stretch">
			<div class="card mb-3">
				<img src="{{ asset('build/images/content/pflanzungen01.jpg') }}" class="card-img-top" alt="Pflanzungen" title="Pflanzungen"/>
				<div class="card-body">
					<h5 class="card-title">Ersatzpflanzungen</h5>
					<p class="card-text">Bevor Sie einen Baum fällen, kann es sein das Sie im Anschluss den Verlust ersetzen müssen. Ersatzpflanzungen müssen vor allem in Städten und Gemeinden gemacht werden wo es eine Baumschutzverordnung gibt oder Bäume im Bebauungsplan als schützenswert eingetragen sind. Normalerweise werden dann von behördlicher Seite bereits größere Bäume mit einem Stammumfang von 16-20 cm gefordert. Ohne die passenden Geräte kann das zum Kraftakt werden. Für die technische Umsetzung setzen wir auf Maschinen, die durch jedes Gartentürchen passen. Wir beraten Sie im Vorfeld zum Standort und den Eigenschaften der Baumarten. Es geht uns darum Ihnen vorausschauend Optionen zu geben, damit Sie eine gute Entscheidungsgrundlage haben.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 mb-4 d-flex align-items-stretch">
			<div class="card mb-3">
				<img src="{{ asset('build/images/content/pflanzungen02.jpg') }}" class="card-img-top" alt="Wild Landscape"/>
				<div class="card-body">
					<h5 class="card-title">Ökologische Gartengestaltung – Bienenfreundliche Gärten</h5>
					<p class="card-text">Jeder von uns profitiert von den fleißigen Helfern. Und auch im eigenen Garten kann jeder einen Beitrag dazu leisten, den Lebensraum der wichtigen Insekten zu erhalten. Wir beraten Sie gerne, wie Sie Ihren Garten bienenfreundlich gestalten können. Unser von einem Imker mitentwickeltes Konzept vereint dabei Ökologie und Ästhetik. Denn es gibt zwar viele Sträucher und Bäume, die als besonders bienenfreundlich gelten, aber meistens blühen sie zu ähnlichen Zeiten. Wir achten daher darauf, die Hungerphasen der Bienen zu minimieren und Ihnen vom Frühjahr bis zum Herbst ein Blütenmeer zu gewährleisten. Als Maßnahmen bieten wir Ihnen hierzu fachgerechte Pflanzungen als Ergänzung und die Gartenpflege Ihres bereits vorhandenen Baum- und Strauchbestandes an.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
