{% extends 'base.html.twig' %}

{% block title %}Baumring | {{ getContent.headline }}
{% endblock %}

{% block body %}
	<h1>{{ getContent.headline }}</h1>
	{{ getContent.content|raw }}
{% endblock %}
