<header id="header">
    <a href="/" class="logo"><strong>Baumring:</strong> Baumpflege, Kontrollen, Pflanzungen und Fällungen</a>
    <ul class="icons">
        <li class="icon solid fa-mobile"><a href="tel:+4917680122245"><strong>0176/80122245</strong></a></li>
        <li class="icon solid fa-envelope"><a href="mailto:info@baumring.de"><strong>info@baumring.de</strong></a></li>
    </ul>
</header>